*{
  margin: 0px;
  }
  .r{
  background-image: url('https://i.ibb.co/Ks4h6sx/IMG-20231014-WA0049.jpg');
  background-size: cover;
  height: 1028px;
  width: 1028px;
  
}
.e{
  font-family: Times New Roman;
  padding: 10px;
  color: white;
}